<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Elements Tests">
    <test verbose="2" preserve-order="true" name="/Users/mm0922/projects/Capstone_Project">
        <classes>
            <class name="ElementsTests"/>
        </classes>
    </test>
</suite>